@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgba(0, 255, 124, 1);
  --background-Dark: #080E13;
  --second-DarkMidnight: #0F151A;
  --text-color: #E8E9EA;
  --hover-DarkCharcoal: #191C24;
  --border-color: rgba(255, 255, 255, 0.1);
  --tag-background: rgba(66, 225, 193, 0.1);
  --tag-color: #51c1a0;
  --gradient-start: rgba(0, 255, 124, 1);
  --gradient-end: #FCD34D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-Dark);
  color: var(--text-color);
}


/* ปรับแต่ง scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #181B23;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #393E4A;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #515869;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
