/* //////////////////////////////// main content  ////////////////////////////////*/

.bannercus{
    background: linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
    color: var(--background-Dark);

}

/* /////////////////////////////////// topic ///////////////////////////////////////////////// */
.topicitem{
    border: 1px solid #374151;
    border-radius: 0.5rem; 
    font-size: 0.875rem; 
    transition: background-color 0.3s;
}

.topicitem:hover {
    background-color: #2a3342; 
} 

/* //////////////////////////////// post card  ////////////////////////////////*/
.postcard{
    background-color: var(--second-DarkMidnight);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #2a3342;
    transition: background-color 0.3s ease;
}


.postcard:hover {
    background-color: var(--hover-DarkCharcoal);
    border: 2px solid #374151;
}

.postheader{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 6px;
}

.posttitle{
    font-weight: 600;
}

.postcontent{
    color: #9CA3AF;
    line-height: 1.6;
    margin-bottom: 20px;
}

.tagstopic{
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.tag{
    border: 1px solid var(--tag-color);
    color: var(--tag-color);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 16px;
    text-decoration: none;
    transition: background-color 0.2s ease;

}

.tag:hover{
    background-color: var(--tag-background);
}

.poststats{
    display: flex;
    align-items: center;
    gap: 12px;
    color: #9CA3AF;
    margin-bottom: 20px;
}




.btncusfol{
    border: 1.5px solid var(--primary-color);
    background-color: #37415100;
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
}

.btncusfol:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: var(--primary-color);
    color: var(--background-Dark);
}

.placeholder::placeholder {
    font-weight: bold;
    font-size: 2rem;
  
  }
  
.inputfocus:focus {
    border-color: var(--primary-color); 
    outline: none; 
    background-color: #191C24;
    font-size: 2.1rem;
    transition: 0.3s ease-in-out;

}

.inputfocustext:focus{
    outline: none; 
    background-color: #191C24;
    font-size: 1.1rem;
    transition: 0.3s ease-in-out;

}

.inputfocustopic:focus{
    outline: none; 
    transition: 0.3s ease-in-out;
    border-color: #9CA3AF;

}