/* //////////////////////////////// Left Sidebar  ////////////////////////////////*/

.sidebarcus{
    background-color: var(--background-Dark);
    color: var(--text-color);
    border-right: 1px solid var(--border-color);

}


.sidenavitem {
    display: flex;
    align-items: center; 
    gap: 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    padding: 8px;

}

.sidenavitem:hover {
    background-color: var(--hover-DarkCharcoal);
    color: var(--primary-color);
}